header {
  height: 400px;
  width: 100%;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.avatar {
  display: flex;
  justify-content: center;
}

.name {
  color: #545149;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
}