header {
  height: 400px;
  width: 100%;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: source-sans-pro, sans-serif;
  color: white;
}