html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*
 Global layout stuff
 */

body {
  color: white;
  font-size: 15px;
  justify-content: center;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', 'sans-serif';
  padding-top: 120px;
}

main {
  width: 90%;
  color: black;
  margin: 0 auto;
  background-color: f4f1ec;
}


/* Desktop reactive */

@media only screen and (min-width: 1024px) {
  .flex-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px
  }
  article {
    margin: 0 50px;
    padding: 0px;
    border-top-width: 0px;
    border-bottom-width: 50px;
  }
  .tweet {
    margin: 20 0px;
    height: 244px;
    width: 674px;
  }
  .new-tweet h2 {
    margin-top: 0;
  }
  header {
    height: 300px;
    margin: 0 40px;
    width: 320px;
  }
  .avatar {
    height: 200px;
  }
}