nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  color: #ffffff;
  font-family: 'Bungee', 'sans-serif';
  background-color: #00e0bb;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 120px;
  text-align: left;
  padding: 2em;
  justify-content: space-between;
}

.angled-arrow {
  color: red;
  font-size: 40px;
}

nav span {
  font-size: 50px;
}

.new-tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 30px;
}